PORT=3000
DB_HOST=mysql
DB_USER=demo
DB_PASS=ganti_password_db
DB_ROOT_PASS=ganti_root_password
DB_NAME=demoids
SESSION_SECRET=ganti_session_secret_panjang_acak
WAF_MODE=detect
MONITOR_TOKEN=ganti_token_monitor_rahasia
EVE_JSON_PATH=/var/log/suricata/eve.json
SURICATA_INTERFACE=eth0
